body{
	background-color: #000000 ;
	color="#00bfb2" ;
}

#bkgd{
	position: fixed ; 
	width: 100% ; 
	filter: blur(75px) brightness(25%) ; 
	top: 25% ; 
	left: 25% ; 
	transform: translate(-50%,-50%) ;
}

#plyr{
	position: fixed ; 
	top: 50% ; 
	left: 50% ; 
	opacity: 0.9 ;
	transform: translate(-50%,-50%) ;
}

#zone{
	position: fixed ; 
	top: 50% ; 
	left: 50% ; 
	transform: translate(-50%,-50%) ;
}

#dbug{
	position: fixed ; 
	top: 0% ; 
	left: 0% ; 
	background-color: #FFFFFF ;
	color="#000000" ;
}

.rotate {
	animation: rotation 128s infinite linear;
	width: 150% ;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}